* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.post {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
}

.postImg {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.postText {
  font-weight: normal;
  padding: 20px;
}

.likeBtn {
  border: none;
  background-color: #fafafa;
}

.commentBtn {
  border: none;
  background-color: #fafafa;
}

.bookmarkBtn {
  border: none;
  background-color: #fafafa;
}

.postHeader {
  display: flex;
  align-items: center;
  padding: 20px;
}

.postAvatar {
  margin-right: 10px;
}
