* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.navBar {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
  border-top: 1px solid lightgray;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; /* changes nav bar to not be shown in a list */
}

nav li {
  display: inline-block;
  margin: 15px 50px;
}


.post {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.postImg {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.postText {
  font-weight: normal;
  padding: 20px;
}

.likeBtn {
  border: none;
  background-color: white;
}

.commentBtn {
  border: none;
  background-color: white;
}

.bookmarkBtn {
  border: none;
  background-color: white;
}

.postHeader {
  display: flex;
  align-items: center;
  padding: 20px;
}

.postAvatar {
  margin-right: 10px;
}

nav {
  display: flex;
  list-style: none;
}