* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.appHeader {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.postImg {
  width: 100%;
  object-fit: contain;
}

.postText {
  font-weight: normal;
}

.likeBtn {
  border: none;
  background-color: #fafafa;
}

.commentBtn {
  border: none;
  background-color: #fafafa;
}

.bookmarkBtn {
  border: none;
  background-color: #fafafa;
}
